.navbar {
    position: fixed;
    left: 79px;
    top: 98px;
    z-index: 99;
}

.navbar .inner {
    width: 2px;
    height: 500px;
    background-color: #262626;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.navbar .inner a {
    position: relative;
    left: 5px;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
    color: gray;
    padding: 5px;
    font-size: 14px;
    font-weight: 300;
    transition: .9s;
}

.navbar .inner a::before {
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    background: white;
    left: -5px;
    top: 11px;
}

.navbar .inner a.active::before {
    background-color: var(--second-main-color);
    left: 37px;
    top: 15px;
}

.navbar .inner a.active {
    color: white;
    left: -17px;
    width: 127px;
    left: -37px;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar .inner a::after {
    content: attr(data-name);
    margin-left: 35px;
    display: none;
}

.navbar .inner a.active::after {
    display: inline-block;
}

@media (max-width : 1050px) {
    .navbar {
        display: none;
    }
}