.hire {
    margin-top: 28px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 85px;
    padding: 5px 10px;
    cursor: pointer;
    height: 24px;
    line-height: 28px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-align: center;
    z-index: 999;
    background-color: var(--second-main-color);
}